*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    width: 160px;
    height: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
    /* gap: 20px; */
}

.card{
    margin-top: 30px;
    width:200px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(72, 72, 72);
    padding: 10px;
}
.card>img{
    width:90%;
    height: 50%;
    margin-left: 10px;
}

.restaurantlists{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 10px;
}