.container{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
}

.left{
    position:relative;
    left:-80px;
}

.right{
    position: relative;
    left:80px;
}

.center{
    position: relative;
    top:20px;
}
